<div class="add-hero-form">
    <label for="name">Name</label><br>
    <input id="name" type="text"><br>

    <label for="Description">Description</label><br>
    <textarea id="Description" type="text"></textarea><br>

    <label for="Background">Background</label><br>
    <textarea id="Background" type="text"></textarea><br>

    <label for="Abilities">Abilities</label><br>
    <textarea id="Abilities" type="text"></textarea><br>

    <label for="attribute">Primary Attribute</label><br>
    <input id="attribute" type="text"><br><br>

    <button (click)="addHero()">Save</button>
</div>
